{% extends 'base.html.twig' %}

{% block title %}Projet Panthère{% endblock %}


{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/team.css')}}">

{% endblock %}

{% block body %}
{# {{ dump() }} #}
<div class="container-organigrame" >
  <div class="btn-msg">
    {% if is_granted('ROLE_ADMIN') %}
    <div class="button-78">
      <a href="{{ path('team_new') }}" >Ajouter un Collaborateur</a>
    </div>
    {% endif %}
      {% for message in app.flashes('Success') %}
      <div class="message-app-flash">
          {{ message }}
      </div>
  {% endfor %}
  </div>
    
  
  <div class="organigrame">
    <div class="rang-1">
      {% for position in positions %}
      {% if position.label == 'Gérant' %}
        {% for team in position.teams %}
          <a href="{{ path('team_show', {"id": team.id}) }}">
            <div class="team-item">
              <img class="profil-img" src="{{asset(team.imageName)}}" alt="">
              <h3>{{ team.fullname }}</h3>
              <p>({{position.label}})</p>
            </div>
          </a>
        {% endfor %}
      {% endif %}
      {% endfor %}
    </div>
  
    <div class="rang-2">
      {% for position in positions %}
      {% if position.label == 'Commercial' or position.label == 'Comptabillité' or position.label == 'Lead Dev' %}
        {% for team in position.teams %}
          <a href="{{ path('team_show', {"id": team.id}) }}">
            <div class="team-item">
              <img class="profil-img" src="{{asset(team.imageName)}}" alt="">
              <h3>{{ team.fullname }}</h3>
              <p>({{position.label}})</p>
            </div>
          </a>
        {% endfor %}
      {% endif %}
      {% endfor %}
    </div>
  
    <div class="rang-3">
      {% for position in positions %}
      {% if position.label == 'Dev' or position.label == 'UI/UX' %}
        {% for team in position.teams %}
          <a href="{{ path('team_show', {"id": team.id}) }}">
            <div class="team-item">
              <img class="profil-img" src="{{asset(team.imageName)}}" alt="">
              <h3>{{ team.fullname }}</h3>
              <p>({{position.label}})</p>
            </div>
          </a>
        {% endfor %}
      {% endif %}
      {% endfor %}
    </div>
  
    <div class="rang-4">
      {% for position in positions %}
      {% if position.label == 'Stagiaire' %}
        {% for team in position.teams %}
          <a href="{{ path('team_show', {"id": team.id}) }}">
            <div class="team-item">
              <img class="profil-img" src="{{asset(team.imageName)}}" alt="">
              <h3>{{ team.fullname }}</h3>
              <p>({{position.label}})</p>
            </div>
          </a>
        {% endfor %}
      {% endif %}
      {% endfor %}
    </div>
  </div>

</div>
{% endblock %}
