
{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/united/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/united/_variables.scss">
            
            
        {% endblock %}
{% block body %}
  
    <nav class="navbar navbar-expand-lg bg-light  " data-bs-theme="light">
      <div class="container-fluid mx-4">
        <a class="navbar-brand" href="{{path('home')}}">Accueil</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="navbar-brand" href="{{path('team')}}">Organigrame
                <span class="visually-hidden">(current)</span>
              </a>
            </li>
          </ul>
          <form class="d-flex mx-4">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a class="navbar-brand" href="{{path('logout')}}" role="button">Se deconnecter</a>
            {% else %}
            <a class="navbar-brand" href="{{path('inscription')}}" role="button">Inscription</a>
            <a class="navbar-brand" href="{{path('connexion')}}" role="button">Se connecter</a>
            {% endif %}

            {# <input class="form-control me-sm-2" type="search" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button> #}
          </form>
        </div>
      </div>
    </nav>

{% endblock %}